@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

@font-face {
  font-family: 'AverageSans';
  src: url('./../fonts/AverageSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* base + reset */
/* base + reset */
/* base + reset */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: 16px;
} 

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;

}

.button {
  display: block;
}

.main  {
  flex: 1 1 auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-h2 {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.22;
  color: #353637;
}

.title-text {
  font-family: 'AverageSans';
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.02em;
  color: #959595;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  background-color: #EAEFF6;
}

.header__nav {
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  margin-right: 48px;
  z-index: 2;
}

.header__logo img {
  margin-right: 9px;
}

.header__logo span {
  font-weight: 600;
  font-size: 26px;
  color: #597193;
  text-transform: uppercase;
  margin-bottom: -8px;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 43px;
}

.nav__link {
  font-family: 'AverageSans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #353637;
  position: relative;
  padding-bottom: 12px;
  transition: color 0.3s ease-in-out;
}

.nav__link.active,
.nav__link:hover {
  color: #597193;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #597193;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link.active::after,
.nav__link:hover::after {
  opacity: 1;
}

.btn {
  position: relative;
  z-index: 2;
  padding: 10px 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: #597193;
  box-shadow: 0px 4px 12px rgba(21, 21, 21, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.btn__header {
  margin-bottom: -20px;
}


.btn:hover {
  box-shadow: 0px 4px 12px rgba(21, 21, 21, 0.35);
}

.btn:active {
  top: 1px;
}

/* HERO */
/* HERO */
/* HERO */

.hero {
  background-color: #EAEFF6;
}

.hero__wrapper {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.hero__content {
  position: relative;
  margin-top: 54px;
}

.hero__title {
  margin-bottom: 16px;
  max-width: 447px;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.22;
  color: #3D4550;

}
.hero__description {
  margin-bottom: 36px;
  max-width: 452px;
  font-family: 'Average Sans';
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.02em;
  color: #939393;
}

.hero__buttons-group {
}
.btn {
}
.hero__btn {
  margin-right: 54px;
  padding: 10px 23px;
  text-transform: capitalize;
}

.hero__btn-play {
  padding: 10px 23px 10px 51px ;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* .hero__btn-play:hover {
  border-radius: 20px;
  outline: 1px solid #597193;
} */

/* .hero__btn-play::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C9D6E9;
  right: -20px;
  bottom: -36px;
} */

.hero__btn-play span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #353637;
  transition: color 0.2s ease-in-out;
}

.hero__btn-play span:hover {
  color: #597193;
}

.hero__btn-play span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('./../img/play.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__btn-play:active {
  top: 1px;
}

/* static */
/* static */
/* static */

.static {
  position: absolute;
  right: -47%;
  bottom: 85px;
  display: inline-block;
  background-color: #fff;
  padding: 14px 15px;
  border-radius: 8px;
  filter: drop-shadow(-2px 12px 25px rgba(97, 97, 97, 0.1));
  z-index: 10;
}

.static__title {
  margin-bottom: 10px;
  display: inline-block;
  padding: 3px 13px 3px 18px;
  font-size: 12px;
  line-height: 1;
  color: #4C6487;
  background-color: #C9D6E9;
  border-radius: 15px;
  position: relative;
}

.static__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4C6487;
}

.stati__subtitles {
  margin-bottom: 5px;
  display: flex;
  column-gap: 44px;
  align-items: center;

}

.stati__subtitles-text,
.stati__subtitles-num {
  max-width: 53px;
  font-size: 12px;
  line-height: 1.17;
  color: #101828;
}

.stati__subtitles-num {
  max-width: 32px;
}

.stati__img {
  margin-bottom: 25px;
}

.stati__week {
  display: flex;
  /* gap: 10px */
}

.stati__week span{
  padding: 2px 5px 4px;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #6D7589;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30%;
}

.stati__week span.active,
.stati__week span:hover {
  background-color: #C9D6E9;
  color: #101828;
}

.hero__images {
  position: relative;
}

.hero__img {
    margin-right: 95px;
    position: relative;
    z-index: 5;
}

.round {
  position: absolute;
  top: -30px;
  left: -127px;
  width: 540px;
  height: 540px;
  background: #F6FCFA;
  border-radius: 50%;
  box-shadow: -5px 0px 39px rgba(118, 118, 118, 0.08);
}

.round-mini-1 {
  position: absolute;
  top: 30px;
  left: -170px;
  width: 21px;
  height: 21px;
  background: #C9D6E9;
  border-radius: 50%;
}
.round-mini-2 {
  position: absolute;
  top: -10px;
  right: 47px;
  width: 41px;
  height: 41px;
  background: #C9D6E9;
  border-radius: 50%;
}
.round-mini-3 {
  position: absolute;
  right: 30px;
  bottom: 88px;
  width: 27px;
  height: 27px;
  background: #C9D6E9;
  border-radius: 50%;
}

.round-mini-4 {
  position: absolute;
  right: 60px;
  bottom: 100px;
  width: 10px;
  height: 10px;
  background: #C9D6E9;
  border-radius: 50%;
}

.payment {

  position: absolute;
  top: 65px;
  right: -60px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 22px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 28px rgba(84, 84, 84, 0.1);
  border-radius: 5px;
}
.payment__icon {
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(201, 214, 233, 0.87);
}
.payment__content {
  text-align: center;
}

.payment__title {
  margin-bottom: 4px;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}
.payment__text {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 10px;
  color: #565656;
}

/* check */
/* check */
/* check */

.check {
  padding: 116px 0;
}

.check__wrapper {
  display: flex;
  gap: 68px;
}

.check__img {
  height: 523px;
  display: flex;
  align-items: flex-end;
  background-color: #B1BED0;
  position: relative;
}

.check__title {
  max-width: 452px;
  margin: 0 auto 46px;
  text-align: center;
}

.check__form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* form */

.form__check {
  width: 340px;
  /* border: 1px solid black; */
}

.form__check-text {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #222426;
  text-transform: uppercase;
}

.form__check-label {
  margin-bottom: 30px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ABABAB;
}

.form__check-input {
  /* width: 100%; */
  border: none;
  outline: none;
}

.form__check-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #636461;
}

.guests {
  padding: 19px 15px;
}

.form__check-label img {
  cursor: pointer;
}

.form__check-label-btn {
  width: 100%;
  padding: 19px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #596B86;
  transition: background-color 0.2s ease-in-out;
}

.form__check-label-btn:hover {
  background-color:  rgba(201, 214, 233, 0.87);
}

/* room */
/* room */
/* room */ 

.room {

}

.room__title {
  margin: 0 auto 46px;
  text-align: center;
  max-width: 525px;
}

.room__title p {
  margin: 0 auto;
  max-width: 452px;
}


.room__items {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 30px;
}

.room__item {
  border-radius: 6px 6px 0px 0px;
  flex: 1 1 350px;
}
.room__img {
}
.room__info {
  padding: 24px 61px 24px 22px;
  border: 1px solid #596B86;
}
.room__info-title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  color: #131313;
}

.room__icons-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.room__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.room__icon-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #727272;
}

.room__price {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  color: #384D6C;
}

.room__price span {
  /* display: inline-block; */
  font-weight: 400;
  font-size: 18px;
  color: #585858;
}

/* services */
.services {
  padding: 120px 0;
}
.services__title {
  text-align: center;
  margin-bottom: 44px;
}
.subtitle {
  margin-bottom: 20px;
  font-family: 'AverageSans';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.26em;
  color: #597193;
  text-transform: uppercase;
}

.services__list {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.services__item {
  padding: 20px 30px 21px 30px;
  flex: 1 1 350px;
  border: 1px solid #596B86;
  border-radius: 2px;
}
.services__item-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.services__h3 {
  font-size: 24px;
  line-height: 2.29;
  color: #131313;
}
.services__text {
  font-family: 'AverageSans';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #9B9B9B;
}

.services__info {
  display: flex;
  justify-content: space-evenly;
}
.services__info-content {
  text-align: center;
}
.services__info-content-title {
  margin-bottom: 10px;  
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  color: #596B86;
}

.services__info-content-text {

  font-family: 'AverageSans';
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #939393;
}
.services__info-line {
  width: 2px;
  height: 54px;
  background-color: #C4C4C4;
  /* border: 1.5px solid #C4C4C4; */
  margin: auto 0;
}

/* discover */

.discover {
  padding-bottom: 120px;
}

.discover__wrapper {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  background: #F6FCFA;
  border-radius: 0px 6px 6px 0px;
}

.discover__content {
  padding-left: 63px;
  flex: 1 1 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discover__title {
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 1.38;
  color: #353637;
}

.discover__content p {
  margin-bottom: 31px;
  font-family: 'AverageSans';
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #686868;
}

.discover__video {
  flex: 1 1 54%;
  position: relative;
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* customers */
/* customers */
/* customers */

.customers {
  padding-bottom: 120px;
}

.customers__header {
  margin-bottom: 47px;
}

.customers__title {
  margin-bottom: 13px;
  font-size: 40px;
  line-height: 1.25;
  color: #353637;
}

.customers__text {
  font-family: 'AverageSans';
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.045em;
  color: #959595;
}

.customers__list {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.customers__item {
  position: relative;
  bottom: 0;
  padding: 50px 37px;
  flex: 1 1 350px;
  background-color: #F6FCFA;
  border-radius: 6px;
  box-shadow: 0px 10px 19px rgba(66, 66, 66, 0);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.customers__item.customers__item-active,
.customers__item:hover {
  bottom: 20px;
  color: #fff;
  background: rgba(113, 136, 170, 0.55);
  box-shadow: 0px 10px 19px rgba(66, 66, 66, 0.2);
}

.customers__item.customers__item-active::before,
.customers__item:hover::before {
  content: '';
  position: absolute;
  width: 147px;
  height: 147px;
  background-image: url('./../img/v-big.svg');
  left: 0;
  bottom: 0;
}

.customers__item.customers__item-active::after,
.customers__item:hover::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url('./../img/v-small.svg');
  top: 0;
  right: 0;
}

.customers__img {
  margin-bottom: 24px;
  width: 83px;
  height: 83px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.customers__name {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.67;
  color: #101828;
  transition: color 0.2s ease-in-out;
}

.customers__brand {
  margin-bottom: 27px;
  font-family: 'Work Sans';
  font-size: 12px;
  color: #606772;
  transition: color 0.2s ease-in-out;
}

.customers__text {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #6D7589;
  transition: color 0.2s ease-in-out;
}

.customers__item.customers__item-active .customers__text,
.customers__item:hover .customers__text,
.customers__item.customers__item-active .customers__brand,
.customers__item:hover:hover .customers__brand,
.customers__item.customers__item-active .customers__name, 
.customers__item:hover .customers__name {
  color: #fff;
}

.slider__nav-list {
  margin: 0 auto;
  max-width: 88px;
  display: flex;
  gap: 10px;
}

.slider__nav-item {
  width: 16px;
  height: 10px;
  background-color: rgba(177, 190, 208, 0.66);
  border-radius: 58px;
  transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
  cursor: pointer;
}

.slider__nav-item.slider__nav-item-active,
.slider__nav-item:hover {
  width: 36px;
  background-color: #597193;
}

/* News */
/* News */
/* News */

.news {
  padding-bottom: 120px;
}

.news__list {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.news__item {
  flex: 1 1 350px;
}

.news__item-img img {
  border-radius: 4px 4px 0px 0px;
}

.news__item-content {
  padding: 19px 51px 28px 26px;
  border: 1px solid #596B86;
}

.news__item-info {
  display: flex;
  gap: 75px;
  align-items: center;
}

.news__item-group {
  margin-bottom: 8px;
  display: flex;
  gap: 7px;
  align-items: center;
}

.news__item-group p {
  font-size: 15px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #797979;
}

.news__item-title {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.42;
  color: #131313;
  transition: color 0.2s ease-in-out;
}

.news__item-title:hover {
  color: #596B86;
}

.news__item-text {
  margin-bottom: 20px;
  font-family: 'AverageSans';
  font-size: 15px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9B9B9B;
}

.news_item-link {
  padding-right: 31px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #596B86;
  position: relative;
  transition: padding-right 0.2s ease-in-out, color 0.2s ease-in-out;
}

.news_item-link::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-27%);
  right: 0;
  width: 22px;
  height: 9px;
  background-image: url('./../img/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.news_item-link:hover {
  padding-right: 35px;
  color: #131313;;
}

/* subscribe */
/* subscribe */
/* subscribe */

.subscribe {
  padding-bottom: 86px;
}

.subscribe__wrapper {
  padding: 73px 0;
  background-color: #B1BED0;
  border-radius: 10px 0 10px 10px ;
  position: relative;
}

.subscribe__header {
  max-width: 533px;
  margin: 0 auto 44px;
  text-align: center;
}

.subscribe__subtitle {
  margin-bottom: 25px;
  font-family: 'AverageSans';
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.155em;
  color: #FFFFFF;
}

.subscribe__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  color: #334052;
}

.subscribe__form {
  max-width: 446px;
  margin: 0 auto;
}

.subscribe__label {
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
}

.subscribe__email {
  padding: 13px 19px;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0px 2px 12px rgba(52, 52, 52, 0.15);
  border-radius: 6px;
}

.subscribe__email::placeholder {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  color: #A2A2A2;
}

.subscribe__button {
  padding: 13px 15px;
  color: #fff;

  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;

  background-color: #889CB9;
  box-shadow: -3px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}

.subscribe__button:hover {
  box-shadow: -3px 2px 12px rgba(0, 0, 0, 0.4);
}
.subscribe__button:active {
  transform: scale(1.01);
}

.subscribe__decor-big {
  content: '';
  position: absolute;
  width: 98px;
  height: 98px;
  left: 0;
  bottom: 0;
  background-image: url('./../img/v-big-2.svg');
}

.subscribe__decor-small {
  content: '';
  position: absolute;
  width: 79px;
  height: 79px;
  top: 0;
  right: -1px;
  background-image: url('./../img/v-small-2.svg');
}

/* contacts */
/* contacts */
/* contacts */

.contacts {
  padding-bottom: 77px;
}

.contacts__container {
  padding: 44px;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #7587A0;
}

.contacts__wrapper {
  display: flex;
  gap: 86px;
}

.contacts__info {
  max-width: 294px;
}

.contacts__logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 21px;
  z-index: 2;
  height: 48px;
}

.contacts__logo img {
  margin-right: 9px;
}

.contacts__logo span {
  margin-bottom: -8px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 26px;
  color: #597193;
  text-transform: uppercase;
}

.contacts__text {
  font-family: 'AverageSans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #A9A9A9;
}

.contacts__contact {
  min-width: 299px;
}

.contacts__title {
  padding-top: 25px;
  font-size: 20px;
  line-height: 1.3;
  color: #131313;
  margin-bottom: 20px;
  height: 48px;
}

.contacts__contact-item {
  font-family: 'AverageSans';
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.02em;
  color: #A9A9A9;
}

.contacts__contact-item:not(:last-child) {
  margin-bottom: 13px;
}

.contacts__follow {
  max-width: 299px;
}

.contacts__icons {
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
}

.contacts__icons-link {
  width: 31px;
  height: 31px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #D9D9D9;
  border-radius: 4px;
}

.contacts__contact-item {
  padding-left: 20px;
 }

.contacts__icon{
  fill: #00B2FF;
  transition: fill 0.2s ease-in-out;
}

.contacts__icons-link-active .contacts__icon,
.contacts__icons-link:hover .contacts__icon {
  fill: #D23939;
}

.map-icon,
.phone-icon,
.mail-icon {
  position: relative;
}

.map-icon::before,
.phone-icon::before,
.mail-icon::before {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-40%);
  left: -4px;
}

.map-icon::before {
  width: 13px;
  height: 18px;
  background-image: url('./../img/map.svg');
}
.phone-icon::before {
  width: 16px;
  height: 15px;
  background-image: url('./../img/phone.svg'); 
}
.mail-icon::before {
  width: 17px;
  height: 11px;
  background-image: url('./../img/mail.svg'); 
}

.footer {
  background-color: #B1BED0;
}

.footer__wrapper {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: rgba(0, 0, 0, 0.42);
}

.footer__list {
  display: flex;
  align-items: center;
}
.footer__item:not(:last-child) {
  margin-right: 15px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.42);
  transition: color 0.2s ease-in-out;
}

.footer__link:hover {
  color: rgba(51, 64, 82, 1);
}