@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

@font-face {
  font-family: 'AverageSans';
  src: url('./../fonts/AverageSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* base + reset */
/* base + reset */
/* base + reset */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: 16px;
} 

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  display: block;
}

.main  {
  flex: 1 1 auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-h2 {
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 45px;
  line-height: 1.22;
  color: #353637;
}

.title-text {
  font-family: 'Average Sans';
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.02em;
  color: #959595;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  background-color: #EAEFF6;
}

.header__nav {
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  margin-right: 48px;
  z-index: 2;
}

.header__logo img {
  margin-right: 9px;
}

.header__logo span {
  font-weight: 600;
  font-size: 26px;
  color: #597193;
  text-transform: uppercase;
  margin-bottom: -8px;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 43px;
}

.nav__link {
  font-family: 'AverageSans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #353637;
  position: relative;
  padding-bottom: 12px;
  transition: color 0.3s ease-in-out;
}

.nav__link.active,
.nav__link:hover {
  color: #597193;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #597193;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link.active::after,
.nav__link:hover::after {
  opacity: 1;
}

.btn {
  position: relative;
  z-index: 2;
  padding: 10px 21px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: #597193;
  box-shadow: 0px 4px 12px rgba(21, 21, 21, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.btn__header {
  margin-bottom: -20px;
}


.btn:hover {
  box-shadow: 0px 4px 12px rgba(21, 21, 21, 0.35);
}

.btn:active {
  top: 1px;
}

/* HERO */
/* HERO */
/* HERO */

.hero {
  background-color: #EAEFF6;
}

.hero__wrapper {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.hero__content {
  position: relative;
  margin-top: 54px;
}

.hero__title {
  margin-bottom: 16px;
  max-width: 447px;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.22;
  color: #3D4550;

}
.hero__description {
  margin-bottom: 36px;
  max-width: 452px;
  font-family: 'Average Sans';
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.02em;
  color: #939393;
}

.hero__buttons-group {
}
.btn {
}
.hero__btn {
  margin-right: 54px;
  padding: 10px 23px;
  text-transform: capitalize;
}

.hero__btn-play {
  padding: 10px 23px 10px 51px ;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* .hero__btn-play:hover {
  border-radius: 20px;
  outline: 1px solid #597193;
} */

.hero__btn-play::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C9D6E9;
  right: -20px;
  bottom: -36px;
}

.hero__btn-play span {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #353637;
  transition: color 0.2s ease-in-out;
}

.hero__btn-play span:hover {
  color: #597193;
}

.hero__btn-play span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('./../img/play.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__btn-play:active {
  top: 1px;
}

/* static */
/* static */
/* static */

.static {
  position: absolute;
  right: -47%;
  bottom: 85px;
  display: inline-block;
  background-color: #fff;
  padding: 14px 15px;
  border-radius: 8px;
  filter: drop-shadow(-2px 12px 25px rgba(97, 97, 97, 0.1));
  z-index: 10;
}

.static__title {
  margin-bottom: 10px;
  display: inline-block;
  padding: 3px 13px 3px 18px;
  font-size: 12px;
  line-height: 1;
  color: #4C6487;
  background-color: #C9D6E9;
  border-radius: 15px;
  position: relative;
}

.static__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4C6487;
}

.stati__subtitles {
  margin-bottom: 5px;
  display: flex;
  column-gap: 44px;
  align-items: center;

}

.stati__subtitles-text,
.stati__subtitles-num {
  max-width: 53px;
  font-size: 12px;
  line-height: 1.17;
  color: #101828;
}

.stati__subtitles-num {
  max-width: 32px;
}

.stati__img {
  margin-bottom: 25px;
}

.stati__week {
  display: flex;
  /* gap: 10px */
}

.stati__week span{
  padding: 2px 5px 4px;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #6D7589;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30%;
}

.stati__week span.active,
.stati__week span:hover {
  background-color: #C9D6E9;
  color: #101828;
}

.hero__images {
  position: relative;
}

.hero__img {
    margin-right: 95px;
    position: relative;
    z-index: 5;
}

.round {
  position: absolute;
  top: -30px;
  left: -127px;
  width: 540px;
  height: 540px;
  background: #F6FCFA;
  border-radius: 50%;
  box-shadow: -5px 0px 39px rgba(118, 118, 118, 0.08);
}

.round-mini-1 {
  position: absolute;
  top: 30px;
  left: -170px;
  width: 21px;
  height: 21px;
  background: #C9D6E9;
  border-radius: 50%;
}
.round-mini-2 {
  position: absolute;
  top: -10px;
  right: 47px;
  width: 41px;
  height: 41px;
  background: #C9D6E9;
  border-radius: 50%;
}
.round-mini-3 {
  position: absolute;
  right: 30px;
  bottom: 88px;
  width: 27px;
  height: 27px;
  background: #C9D6E9;
  border-radius: 50%;
}

.payment {

  position: absolute;
  top: 65px;
  right: -60px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 22px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 28px rgba(84, 84, 84, 0.1);
  border-radius: 5px;
}
.payment__icon {
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(201, 214, 233, 0.87);
}
.payment__content {
  text-align: center;
}

.payment__title {
  margin-bottom: 4px;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}
.payment__text {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 10px;
  color: #565656;
}

/* check */
/* check */
/* check */

.check {
  padding: 116px 0;
}

.check__wrapper {
  display: flex;
  gap: 68px;
}

.check__img {
  height: 523px;
  background-color: #B1BED0;
  position: relative;
}
.check__img img {
  padding-top: 89px;
}


.check__title {
  max-width: 452px;
  margin: 0 auto 46px;
  text-align: center;
}

.check__form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* form */

.form__check {
  width: 340px;
  /* border: 1px solid black; */
}

.form__check-text {
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #222426;
  text-transform: uppercase;
}

.form__check-label {
  margin-bottom: 30px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ABABAB;
}

.form__check-input {
  /* width: 100%; */
  border: none;
  outline: none;
}

.form__check-input::placeholder {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #636461;
}

.guests {
  padding: 19px 15px;
}



.form__check-label img {
  cursor: pointer;
}

.form__check-label-btn {
  width: 100%;
  padding: 19px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #596B86;
  transition: background-color 0.2s ease-in-out;
}

.form__check-label-btn:hover {
  background-color:  rgba(201, 214, 233, 0.87);
}


/* room */
/* room */
/* room */ 

.room {

}

.room__title {
  margin: 0 auto 46px;
  text-align: center;
  max-width: 525px;
}

.room__title p {
  margin: 0 auto;
  max-width: 452px;
}


.room__items {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 30px;
}

.room__item {
  border-radius: 6px 6px 0px 0px;
  flex: 1 1 350px;
}
.room__img {
}
.room__info {
  padding: 24px 61px 24px 22px;
  border: 1px solid #596B86;
}
.room__info-title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  color: #131313;
}

.room__icons-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.room__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.room__icon-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #727272;
}

.room__price {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  color: #384D6C;
}

.room__price span {
  /* display: inline-block; */
  font-weight: 400;
  font-size: 18px;
  color: #585858;
}